@use "_mixins" as m;
@use "_variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

%row-container-placeholder {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

body:has(.dark-mode) {
  background-color: #001000;
}

.container {
  display: flex;
}

main {
  margin-top: 0.75rem;
}

.disabled-player-view {
  text-decoration: line-through;
}

.sortable-table-cell {
  text-transform: capitalize;
  &:hover {
    cursor: pointer;
  }
}

.form-div {
  margin: 0.35rem;
  margin-top: -0.25rem;
  justify-content: center;
}

.league-table-view {
  min-width: v.$tablet-view-width;
}

.team-view-card-table {
  max-height: 300px;
}

.app-single-icon:hover {
  cursor: pointer;
}

.register-page-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  .first-row-container {
    @extend %row-container-placeholder;
  }

  .second-row-container {
    @extend %row-container-placeholder;
  }

  .register-view-container {
    flex: 1;

    &:has(.valid-registration) {
      display: none;
    }
  }
}

@include m.mobile-view {
  .first-row-container,
  .second-row-container {
    flex-direction: column !important;
    row-gap: 2rem;
    
    .soccer-logo-designer-container,
    .soccer-kit-designer-container {
      align-self: center;
    }
  }
}

@include m.tablet-view {
  .responsive-player-view {
    img {
      width: 25px !important;
    }
  }
}
